<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        <h1>New York Subway</h1>
        <p>Every New Yorker needs it!</p>

        <select id="lineSelect">
            <option value="D">D</option>
            <option value="R">R</option>
        </select>

        <div>Latitude: <input type="text" id="latInput"></div>
        <div>Longitude: <input type="text" id="lngInput"></div>

        <button id="submitButton">Submit</button>

        <div id="info">Infomation:</div>
    </body>
    <script type="text/javascript" src="javascripts/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/train.js"></script>
</html>
